<h2>Hot Reads!</h2>
<ol id="hot-reads">
  <% @links.each do |link| %>
    <li id="<%= link.id %>" class="link-url collection-item"><%=link.url %></li>
  <% end %>
</ol>
<img src="https://m.popkey.co/4c7272/QL6mJ.gif">
